<?xml version="1.0"?>
<window id="4">
	<defaultcontrol always="true">300</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<control type="group">
		<control type="multiimage">
			<posx>0</posx>
			<posy>0</posy>
			<width>1280</width>
			<height>720</height>
			<aspectratio>scale</aspectratio>
			<aligny>top</aligny>
			<imagepath background="true">http://localhost:32400/library/arts</imagepath>
			<timeperimage>8000</timeperimage>
			<fadetime>1700</fadetime>
			<randomize>true</randomize>
			<loop>yes</loop>
			<visible>true</visible>
		</control>
			<control type="image">
				<texture background="true">background_overlay.png</texture>
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>720</height>
				<visible>true</visible>
			</control>
			<control type="image">
				<texture>plexicon_home.png</texture>
				<posx>605</posx>
				<posy>7</posy>
				<visible>true</visible>
			</control>
		</control>
		<control type="group">
			<control type="list" id="300">
				<posx>664</posx>
				<posy>253</posy>
				<width>551</width>
				<height>426</height>
				<onleft>9000</onleft>
				<onright>9000</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<scrolltime>200</scrolltime>
				<focusposition>0</focusposition>
				<animation effect="fade" start="0" end="100" delay="280" time="100">Visible</animation>
				<animation effect="fade" start="100" end="0" delay="0" time="100">Hidden</animation>
				<animation effect="fade" start="0" end="100" delay="280" time="100">WindowOpen</animation>
				<itemlayout height="52">
					<control type="group">
						<posy>0</posy>
						<posx>0</posx>
						<control type="label">
							<posy>3</posy>
							<posx>30</posx>
							<width>430</width>
							<height>50</height>
							<aligny>center</aligny>
							<info>ListItem.Label</info>
							<textcolor>Shadow</textcolor>
							<scroll>false</scroll>
							<font>list1</font>
						</control>
						<control type="label">
							<posy>1</posy>
							<posx>30</posx>
							<width>430</width>
							<height>50</height>
							<aligny>center</aligny>
							<info>ListItem.Label</info>
							<textcolor>White</textcolor>
							<scroll>false</scroll>
							<font>list1</font>
						</control>
					</control>
				</itemlayout>
				<focusedlayout height="52">
					<control type="image">
						<posy>1</posy>
						<width>512</width>
						<height>54</height>
						<texture>button_media.png</texture>
						<aspectratio>keep</aspectratio>
						<animation effect="slide" start="0,-52" end="0,0" time="200" reversible="false" easing="out" condition="Container(300).OnNext">Focus</animation>
						<animation effect="slide" start="0,52" end="0,0" time="200" reversible="false" easing="out" condition="Container(300).OnPrevious">Focus</animation>
					</control>
					<control type="group">
						<posy>0</posy>
						<posx>0</posx>
						<control type="label">
							<posy>3</posy>
							<posx>30</posx>
							<width>430</width>
							<height>50</height>
							<aligny>center</aligny>
							<info>ListItem.Label</info>
							<textcolor>Shadow</textcolor>
							<scroll>true</scroll>
							<font>list1</font>
						</control>
						<control type="label">
							<posy>1</posy>
							<posx>30</posx>
							<width>430</width>
							<height>50</height>
							<aligny>center</aligny>
							<info>ListItem.Label</info>
							<textcolor>White</textcolor>
							<scroll>true</scroll>
							<font>list1</font>
   							<animation effect="fade" start="100" end="0" time="100" delay="100" reversible="false">Focus</animation>
						</control>
						<control type="label">
							<posy>1</posy>
							<posx>30</posx>
							<width>430</width>
							<height>50</height>
							<aligny>center</aligny>
							<info>ListItem.Label</info>
							<textcolor>Orange</textcolor>
							<scroll>true</scroll>
							<font>list1</font>
  							<animation effect="fade" start="0" end="100" time="100" delay="100" reversible="false" condition="Container(300).OnNext">Focus</animation>
   							<animation effect="fade" start="0" end="100" time="100" delay="100" reversible="false" condition="Container(300).OnPrevious">Focus</animation>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<description>Videos</description>
						<label>$LOCALIZE[3]</label>
						<onclick>activatewindow(MyVideosSettings)</onclick>
					</item>
					<item id="2">
						<description>Music</description>
						<label>$LOCALIZE[2]</label>
						<onclick>activatewindow(MyMusicSettings)</onclick>
					</item>
					<item id="3">
						<description>Pictures</description>
						<label>$LOCALIZE[1]</label>
						<onclick>activatewindow(MyPicturesSettings)</onclick>
					</item>
					<item id="4">
						<description>Weather</description>
						<label>$LOCALIZE[8]</label>
						<onclick>activatewindow(MyWeatherSettings)</onclick>
					</item>
					<item id="5">
						<description>Network</description>
						<label>$LOCALIZE[705]</label>
						<onclick>activatewindow(NetworkSettings)</onclick>
					</item>
					<item id="6">
						<description>System</description>
						<label>$LOCALIZE[13000]</label>
						<onclick>activatewindow(SystemSettings)</onclick>
					</item>
					<item id="7">
						<description>Appearance</description>
						<label>$LOCALIZE[480]</label>
						<onclick>activatewindow(AppearanceSettings)</onclick>
					</item>					
					<item id="8">
						<description>Skin Settings</description>
						<label>Skin</label>
						<onclick>activatewindow(56)</onclick>
					</item>
				</content>
			</control>
		</control>
		<include>Header</include>
		<include>Time</include>
	</controls>
</window>